 <div>
 	Add a Customer: <br><br>
 	<form action="/customers_add_submit" method="post">
    	 First Name:<br>
    	 <input type="text" name="firstname" value=""><br>
    	 Last Name:<br>
    	 <input type="text" name="lastname" value=""><br>
    	 Email Address:<br>
    	 <input type="text" name="email" value=""><br>
    	 Sex (Format: M or F):<br>
    	 <input type="text" name="sex" maxlength="1" value=""><br>
    	 <input type="submit" value="Submit">
 	</form>

 	<br> <br> <br>
 	<a href="staff_customers">GO BACK</a>
 </div>