 <div>
 	Modify a Customer: <br><br>
 	<form action="/customers_mod_submit" method="post">
    	 Customer ID of Customer to Modify:<br>
    	 <input type="number" name="customerid" value=""><br><br>
    	 New First Name:<br>
    	 <input type="text" name="firstname" value=""><br>
    	 New Last Name:<br>
    	 <input type="text" name="lastname" value=""><br>
    	 New Email Address:<br>
    	 <input type="text" name="email" value=""><br>
    	 New Sex (Format: M or F):<br>
    	 <input type="text" name="sex" maxlength="1" value=""><br>
    	 <input type="submit" value="Submit">
 	</form>

 	<br> <br> <br>
 	<a href="staff_customers">GO BACK</a>
 </div>