 <div>
 	Add a Showing: <br><br>
 	<form action="/showings_add_submit" method="post">
    	 Date and Time(Format: YYYY-MM-DD HH:MM:SS):<br>
    	 <input type="datetime" name="datetime" value=""><br>
    	 Movie ID:<br>
    	 <input type="number" name="movieid" value=""><br>
    	 Room Number:<br>
    	 <input type="number" name="roomnumber" value=""><br>
    	 Price:<br>
    	 <input type="number" name="price" step="0.01" min="0.01" max="99" /><br><br>
    	 <input type="submit" value="Submit">
 	</form>

 	<br> <br> <br>
 	<a href="staff_showings">GO BACK</a>
 </div>